/* Custom CSS for button layout */
#options {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    justify-content: center;
}

.interval-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.interval-button:hover {
    background-color: #eee;
    /* צבע רקע בהעברת עכבר */
}


.container {
    text-align: center;
    margin-top: 20px;
    max-width: 90%;
    /* סמן יד בהעברת עכבר */

}

#feedback {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.wrong-answer {
    background-color: red !important;
}

.correct-answer {
    background-color: green !important;
}

/* Increase font size for all elements */
body {
    font-size: 18px;
}

/* Increase size of headings */
h1 {
    font-size: 1.0em;
}

/* Increase size of buttons */
.btn {
    font-size: 1em;
    margin: 5px;
}


/* Increase font size for the question */
#question {
    font-size: 2.5em;
    color: blue;
}

#stats {
    margin-top: 20px;
    text-align: center;
}

#resetBtn {
    font-size: 14px;
}

.navbar {
    position: fixed;
    right: 0px;
    top: 0;
    z-index: 1000;
    width: 0px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    text-align: center;
    width: auto;
    padding: 8px 16px;
    font-size: 15px;
    display: block;
    white-space: nowrap;
}

.btn-green {
    background-color: green !important;
}

.btn-blue {
    background-color: blue !important;
}

.btn-red {
    background-color: red !important;
}

/* design columns */
.interval-col {
    display: flex;
    flex-direction: column;
    gap: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 0 auto;
    max-width: 90%;
    margin-left: 180px;
    margin-right: 180px;
}
.interval-button {
display: block; /* שינוי המראה של הכפתורים */
margin: 5px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 1em;
cursor: pointer;
}

#options {
display: grid;
grid-template-columns: repeat(6, auto);
gap: 10px; 
justify-content: center; 
}

/* תכונות נוספות של הכפתורים */
.interval-button {
display: block;
margin: 5px;
padding: 2px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 1em;
cursor: pointer;
}

.interval-button:nth-child(21){
grid-column: 5; 
}
.interval-button:nth-child(22){
grid-column: 6; 
}

@media screen and (max-width: 375px) { /* Adjust the max-width value as needed */
    #options {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust the minmax values as needed */
    }
}